<%= render 'layouts/navbar' %>

<div class="dashboard-container">
   <section class="section-my-bots">
    <h2>Mes Bots</h2>
    <div class="bots-list">
      <% if @user_bots.present? %>
        <% @user_bots.each do |bot| %>
          <div class="bot">
            <h3><%= bot.name %></h3>
            <p><%= bot.description %></p>
            <span><%= number_to_currency(bot.price_per_day, unit: "€") %>/day</span>
            <%= button_to 'Delete', bot_path(bot), method: :delete, class: 'delete-btn', data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      <% else %>
        <p>Vous n'avez pas encore créé de bots.</p>
      <% end %>
      <%= link_to 'Créer un Nouveau Bot', new_bot_path, class: 'create-bot-button' %>
    </div>
  </section>

  <!-- Section des Demandes de Location reçues pour mes bots -->
  <section class="rental-requests">
    <h2>Réservations Reçues</h2>
    <div class="requests-list">
      <% if @rental_requests.present? %>
        <% @rental_requests.each do |rental| %>
          <div class="request">
            <p><strong>Bot:</strong> <%= rental.bot.name %></p>
            <p><strong>Status:</strong> <%= rental.status %></p>
<%= button_to 'Accept', accept_rental_path(rental), method: :patch, class: 'accept-btn' %>
           <%= button_to 'Decline', decline_rental_path(rental), method: :patch, class: 'decline-btn' %>
          </div>
        <% end %>
      <% else %>
        <p>Aucune demande de location reçue pour vos bots.</p>
    <% end %>
    </div>
  </section>

  <!-- Section des réservations que j'ai faites -->
  <section class="my-rentals">
    <h2>Mes Réservations</h2>
    <div class="rentals-list">
      <% if @my_rentals.present? %>
        <% @my_rentals.each do |rental| %>
          <div class="rental">
            <p><strong>Bot:</strong> <%= rental.bot.name %></p>
            <p><strong>Date:</strong> <%= rental.start_date %> to <%= rental.end_date %></p>
            <p><strong>Status:</strong> <%= rental.status %></p>
          </div>
        <% end %>
      <% else %>
        <p>Vous n'avez effectué aucune réservation.</p>
      <% end %>
    </div>
  </section>
</div>
