
<!--<%= link_to 'New Bot', new_bot_path %>-->


  <section class="cards">
  <% @bots.each do |bot| %>
    <div class="container">
      <div class="card">
        <img src="assets/images/card1.jpg" alt="analytics">
        <div class="card-text">
          <h3><%= bot.name %></h3>
          <p><%= bot.description%></p>
          <h3><%= number_to_currency(bot.price_per_day, unit: "€") %>/J</h3>
           <a href="#">
            Learn More
            <i class="fas fa-arrow-right"></i>
          </a>        </div>
      </div>

      <div class="card">
        <img src="assets/images/card2.jpg" alt="analytics">
        <div class="card-text">
          <h3>Analytics 360</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, molestiae?</p>
          <a href="#">
            Learn More
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/card3.jpg" alt="analytics">
        <div class="card-text">
          <h3>Market Analysis</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, molestiae?</p>
          <a href="#">
            Learn More
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
     <% end %>
  </section>

<body>
  <header class="header_list">
    <h1>Browse Our Bots</h1>
  </header>

  <div class="actions-bar">
    <%= link_to 'Create New Bot', new_bot_path, class: 'action-button' %>
  </div>

  <section class="bot-cards-container">
    <% @bots.each do |bot| %>
      <div class="bot-card">
        <div class="bot-details">
          <h2><%= bot.name %></h2>
          <p><%= bot.description %></p>
          <div class="bot-price"><%= number_to_currency(bot.price_per_day, unit: "€") %>/day</div>
        </div>
        <div class="bot-actions">
            <%= link_to 'show', bot_path(bot), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
            <%= link_to 'Edit', edit_bot_path(bot), class: 'edit-button' %>
        </div>
      </div>
    <% end %>
  </section>
</body>
</html>
