<!-- app/views/bots/index.html.erb -->
<h1>Bots List</h1>

<% @bots.each do |bot| %>
  <div class="card-ten-container">
    <div class="card-ten">
      <div class="card-ten-left">
        <div class="card-ten-overlay">
          <!-- Remplacez par une image pertinente ou une image par défaut pour le bot -->
          <img src="app/assets/images/profile2.jpg" alt="profile" class="ten-profile-img">
          <h2><%= bot.price_per_day %>$/DAY</h2>
          <p><%= bot.name %></p>
          <div class="ten-buttons-left">
            <%= link_to 'BOOK', bot_path(bot), class: 'card-ten-btn' %>
          </div>
          <div class="ten-arrow-btn ten-arrow-btn-left">
            <i class="fas fa-angle-right fa-3x"></i>
          </div>
        </div>
      </div>
      <div class="card-ten-right">
        <div class="ten-about">
          <h2>About</h2>
          <p><%= bot.description %></p>
        </div>
        <div class="ten-buttons-right">
          <div class="ten-arrow-btn ten-arrow-btn-right">
            <i class="fas fa-angle-left fa-3x"></i>
          </div>
          <%= link_to 'BOOK', bot_path(bot), class: 'card-ten-btn' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Ajoutez vos scripts et références CSS nécessaires ici -->
