<%= render 'layouts/navbar' %>

<div class="reserv-wrap">
  <div class="reserv-header-wrap">
    <h1 class="reserv-header-title">Votre Aventure avec <%= @bot.name.capitalize %> Commence Ici</h1>
  </div>

  <div class="reserv-main">
    <div class="reserv-card-wrap">
      <h2 class="reserv-card-header">Planification de Votre Expérience</h2>
      <%= form_with(model: Rental.new, url: rentals_path, local: true, id: 'reserv-form', class: 'reserv-form-wrap') do |form| %>
        <%= form.hidden_field :bot_id, value: @bot.id, class: 'reserv-hidden-id' %>

        <div class="reserv-input-group">
          <%= form.label :start_date, "Date de Début", class: 'reserv-label' %>
          <%= form.date_field :start_date, id: 'start_date', class: 'reserv-date-input', 'data-price-per-day': @bot.price_per_day %>
        </div>

        <div class="reserv-input-group">
          <%= form.label :end_date, "Date de Fin", class: 'reserv-label' %>
          <%= form.date_field :end_date, id: 'end_date', class: 'reserv-date-input' %>
        </div>

        <%= form.submit "Confirmer", class: "reserv-confirm-btn" %>
        <%= link_to 'Annuler', bots_path, class: 'reserv-cancel-link' %>
      <% end %>
    </div>

    <div class="reserv-price-wrap">
      <h2 class="reserv-price-header">Coût Estimé</h2>
      <div class="reserv-price-value" id="total-price">
        <%= number_to_currency(0) %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'custom/calculate', 'data-turbolinks-track': 'reload' %>
