

<nav class="custom-navbar">
  <div class="custom-nav-logo">
    <%= link_to 'RBOTNB', bots_path, class: 'custom-logo-link' %>
  </div>
  <div class="custom-nav-links">
    <%= link_to 'Accueil', root_path, class: 'custom-nav-item' %>
    <%= link_to 'Bot', bots_path, class: 'custom-nav-item' %>
    <%= link_to 'Contact', '#', class: 'custom-nav-item' %>
  </div>
  <div class="custom-nav-user">
    <%= link_to 'Mon Tableau de Bord', dashboard_path, class: 'custom-nav-item' %>
    <%= form_with url: destroy_user_session_path, method: :delete do %>
    <%= submit_tag 'Se Déconnecter', class: 'logout' %>
  <% end %>
  </div>
</nav>
